{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {clean, "rm -f priv/*.so"},
    {clean, "rm -rf _build/cmake"},
    {"(linux|darwin|solaris)", compile, "./do_cmake.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", compile, "./do_faiss.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_faiss.sh"}
]}.
