{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {clean, "rm -f priv/*.so"},
    {clean, "rm -rf _build/cmake"},
    {"(linux|darwin|solaris)", compile, "./do_cmake.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", compile, "./do_faiss.sh"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_faiss.sh"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"doc/getting_started.md", #{title => "Getting Started"}},
        {"doc/kv_integration.md", #{title => "K/V Database Integration"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/barrel-db/erlang-faiss"},
    {source_url, "https://github.com/barrel-db/erlang-faiss"}
]}.
